{% load static %}
<!doctype html>
<html lang="en">
    
<head>
        <title>{% block title %}{% endblock title %} </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Maha Personal cv/resume template for professional and personal website." />
        <meta name="keywords" content="creative, cv, designer,  online cv, online resume, powerful portfolio, professional, professional resume, responsive, resume, vcard " />
        <meta name="developer" content="Md. Siful Islam">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block all_link %}{% endblock all_link %}
    </head>
    <body class="{% block version %}{% endblock version %}">
        {% block content %}
        
        {% endblock content %}
    </body>
</html>